<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://unpkg.com/@typicode/pegasus/dist/pegasus.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>
  <body class="ragtag-mfol-map">
    <div id="mapApp">
      <input id="pac-input" class="controls" type="text" placeholder="Search for postcode or city">
      <div id="map" class="content"></div>

      <div v-if="activeEvent" id="activeEvent" class="active-event">
        <h2>
          <a :href="activeEvent.rsvp" target="_blank" class="event-title">
            {{activeEvent.title}}
          </a>
        </h2>
        <div class="body-content">
          <div class="details">
            {{activeEvent.venue}}<br>
            {{activeEvent.address1}}<br>
            {{activeEvent.city_etc}}
          </div>
          <div class="details">
            {{activeEvent.distance}} mi away
          </div>
          <div class="details">
            <h4>When:</h4>
            {{activeEvent.start_dt}}<br>
          </div>
          <div class="details">
            {{activeEvent.event_description}}
          </div>
          <div class="details">
            <div class="rsvp-button">
              <a :href="activeEvent.rsvp" target="_blank">RSVP</a>
            </div>
          </div>
        </div>
      </div>

      <div v-if="activeEvent" id="activeEventInfo" class="info-window-content">
        <h2>
          <a :href="activeEvent.rsvp" target="_blank" class="event-title">
            {{activeEvent.title}}
          </a>
        </h2>
        <div class="body-content">
          <div class="details">
            {{activeEvent.start_dt}}<br>
            {{activeEvent.address1}}, {{activeEvent.city_etc}}<br>
          </div>
          <div class="details">
            <a :href="activeEvent.rsvp" class="more-details" target="_blank">More details &raquo;</a>
          </div>
          <div class="details">
            <div class="rsvp">
              <a :href="activeEvent.rsvp" target="_blank">RSVP</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0xQ57bjRAv9JpC-u14Ps0DwG7EDFJAzU&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <link href="map.css" rel="stylesheet" />
    <script src="map.js" id="mapjs"></script>
  </body>
</html>
