body {
  background-color: #F7F7F7;
  font-family: "open_sanslight", Helvetica, Arial, sans-serif
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15.5px;
}

#map {
  height: 400px;
}

#mapApp {
  display: none;
}

a {
  color: #268ECD;
  text-decoration: underline;
}

#userMarker {
  color: #1BAC9E;
  display: none;
}

h2 {
  margin: 0;
  font-size: 1.8em;
  line-height: 1.35em;
}

.details {
  margin: 0.3em 0;
  line-height: 1.6em;
}

a.more-details {
  color: #595959;
}

.rsvp {
  margin-top: 10px 0;
  margin-bottom: 1.5em;
}

#pac-input {
  background-color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  margin-left: 12px;
  text-overflow: ellipsis;
  width: 400px;
  padding: 10px;
}

#pac-input:focus {
  order-color: #4d90fe;
}

.rsvp-button {
  border-radius: 0;
  display: block;
  font-family: "VinylOT-Regular", Helvetica, Arial, sans-serif;
  font-size: 20px;
  height: auto;
  margin: 20px 0 25px 0;
  max-width: 100% !important;
  outline: none;
  padding: 14px 0 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #214781;
  width: 150px;
}

.rsvp-button a {
  color: #fff;
  text-decoration: none;
}

#activeEventInfo {
  display: none;
}

#activeEvent {
  margin: 10px;
  background-color: #fff;
  padding: 25px;
}

#activeEvent h2 {
  font-size: 1.5em;
}

#activeEvent h4 {
  margin: 0;
}
